.white {
  color: white;
}

.center-screen {
  width: 100%; 
  margin-left:auto; 
  margin-right:auto;
  justify-content:center;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.materialIcons {
  font-family: MaterialIconsRound;
}

.materialIconsRegular {
  font-family: MaterialIcons;
}

.materialIconsOutlined {
  font-family: MaterialIconsOutlined;
}