@using Sandbox;
@using System;
@using System.Diagnostics.Tracing
@using System.Linq;
@using System.Threading.Tasks;
@using Sandbox.Menu;
@using Sandbox.UI;
@attribute [StyleSheet]

<root>
	<LobbyChatBox @ref=Chat />
	<label class="game-title">
		@Game.Menu.Package.Title
	</label>

	@if ( Lobby == null )
	{
		<div class="controls">
			<a class="button">Loading...</a>

			<a class="button" href="/lobby/list">Return</a>
		</div>
	}
	else
	{

		<div class="controls">
			<div class="col">
				<label>Members (@Lobby.MemberCount/@Lobby.MaxMembers)</label>

				<div class="lobbyPlayers">
					@foreach ( var member in Lobby.Members )
					{
						<LobbyPlayer IsHost=@(member.Id == Owner.Id) Member=@member/>
					}
				</div>
			</div>

			@if ( Owner.IsMe )
			{
				<div class="span">
					<FormGroup class="form-group">
						<Label>Maximum Players</Label>
						<Control>
							<SliderControl ShowRange=@true Min=@(1f) Max=@MaxPlayersSupported Value:bind=@Game.Menu.Lobby.MaxMembers/>
						</Control>
					</FormGroup>
				</div>
			}

			@if ( Owner.IsMe )
			{
				if ( Lobby.MemberCount > 1 )
				{
					<a class="button" @onclick=@Start>Start</a>
				}
				else
				{
					<label class="button">Waiting for 1 more player ..</label>
				}
			}
			else
			{
				<label class="button">Waiting for Host ..</label>
			}

			<div class="spacer"/>
			<label class="button" @onclick=@LeaveLobby>Leave Lobby</label>
		</div>
	}
</root>

@code
{
    Friend Owner => Lobby.Owner;
    ILobby Lobby => Game.Menu.Lobby;
	LobbyChatBox Chat { get; set; }

	int MaxPlayersSupported { get; set; } = 1;
    Package MapPackage { get; set; }

    public void LeaveLobby()
    {
	    Lobby.Leave();
	    this.Navigate( "/" );
    }
	
	protected override int BuildHash()
	{
		return HashCode.Combine(Lobby?.MemberCount);
	}

    async Task Start()
    {
        await Game.Menu.StartServerAsync( Game.Menu.Lobby.MaxMembers, $"{Owner.Name}'s game", "beans.pl8_empty" );
    }
	
    protected override void OnParametersSet()
    {
        MaxPlayersSupported = Game.Menu.Package.GetMeta<int>( "MaxPlayers", 1 );
    }
}
