@namespace PlatesGame.UI
@using System
@using Sandbox
@using Sandbox.UI
@inherits Sandbox.UI.Panel 

@attribute [StyleSheet]

<root>
	<div @ref="HealthInner" class="inner"></div>
</root>

@code {
	
	private Panel HealthInner { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine( Game.LocalPawn.Health, Game.LocalPawn.LifeState.ToString() );
	}

	public override void Tick()
	{
		base.Tick();
		HealthInner.Style.Width = Length.Percent( Game.LocalPawn.Health );
		HealthInner.Style.BackgroundColor = Game.LocalPawn.Health switch
		{
			>= 51 => Color.Green,
			>= 25 and <= 50 => Color.Yellow,
			_ => Color.Red
		};
		Style.Display = (Game.LocalPawn.LifeState == LifeState.Alive) ? DisplayMode.Flex : DisplayMode.None;
	}

}
