GravityIndicator {
  border-color: #009dff;
  border-width: 1px;
  padding: 10px;
  border-radius: 25%;
  margin-left: 30px;

  background-color: rgba(0, 33, 166, 0.5);
  backdrop-filter: blur(5px);
  label {
    font-size:72px;
  }
  
  label.gravityIndicator {
    color: #33b1ff;
  }
  
  label.gravityArrows {
    animation: bounce;
    color: rgb(255, 255, 255);
    font-size:72px;
    left: 9px;
    position: absolute;
    
    &.invert {
      transform: rotate(180deg);
      animation: bounceInvert;
    }
    
    &.single {
      bottom: -20px;
    }

    &.double {
      bottom: -30px;
    }

    &.triple {
      bottom: -40px;
    }

    animation-duration: .8s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }
}