@namespace PlatesGame.UI
@using System
@using Sandbox
@using Sandbox.UI
@inherits BaseEntityWorldPanel 

@attribute [StyleSheet]

@if ( Entity is not PlateEntity plate || !plate.IsValid() )
{
	return;
}

<root>
	@if ( Plate.PlateOwner is null )
	{
		return; 
	}
	
	@if ( PlatesGame.EventDetails.AffectedEntities.Contains( Plate ) )
	{
		<label @ref="ImpactedLabel" style="color: yellow;" class="ImpactedLabel">warning</label>
	}
	
	<div class="panel-inner" @ref="PlateDetails">
	
	@if ( Plate.PlateOwner != Game.LocalClient )
	{
		<label class="name">@(Plate.PlateOwner.Name.ToLower().EndsWith( 's' ) ? Plate.PlateOwner?.Name + "'" : Plate.PlateOwner?.Name + "'s") plate</label>
	}
	else
	{
		<label class="local name">Your Plate</label>
	}
	
	</div>
</root>

@code {

	private PlateEntity Plate => Entity as PlateEntity;

	private Panel PlateDetails { get; set; }

	private Label ImpactedLabel { get; set; }

	public PlateTag( Entity plate ) : base( plate, Vector3.Up * 15f )
	{
		PanelBounds = new Rect( -1000, -1000, 2000, 2000 );
	}
	
	protected override int BuildHash()
	{
		return HashCode.Combine(PlatesGame.EventDetails.LastUpdate, Plate?.PlateOwner?.Name, Plate?.LifeState.ToString(), Style.Display.ToString());
	}

	public override void Tick()
	{
		base.Tick();

		if ( Plate.PlateOwner is null || !Plate.PlateOwner.IsValid() || !this.IsValid())
			return;
		
		if ( Position.Distance( Camera.Position ) >= 1500f )
		{
			PlateDetails.Style.Display = DisplayMode.None;
			return;
		}
		
		if (PlateDetails.Style.Display != DisplayMode.Flex)
		{
			PlateDetails.Style.Display = DisplayMode.Flex;
		}
	}

}
