.healthbar {
  background-color: #500300;
  width: 500px;
  height: 25px;
  border-radius: 10px;
  
  .inner {
    transition: width 1s;
    border-radius: 10px;
  }
}

PlayerTag {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
  
  .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }
  
  label {
    font-size: 85px;
    font-family: RussoOne;
    border-radius: 4px;
    padding: 0px 20px;
    text-shadow: 2px 2px 2px black;
    margin: 2px 0;
    text-align: center;
  }
}