@namespace PlatesGame.UI
@using System
@using Sandbox.UI
@inherits Sandbox.UI.Panel 

@attribute [StyleSheet]

<root>
	@if ( GetConnectedPlayers() < GameConfig.MinimumPlayers )
	{
		<label style="font-size: 48px;" class="title white hourglass"></label>
		<label class="title white mainText">Waiting for @(GameConfig.MinimumPlayers - GetConnectedPlayers()) more player@(GameConfig.MinimumPlayers - GetConnectedPlayers() > 1 ? "s" : "") to begin ..</label>
	}
	else
	{
		<label class="title white mainText" style="font-size: 100px;margin-right: 10px;">@GetCountdown()</label>
		<label class="title white">Get ready! The round is about to begin</label>
	}
</root>

@code {

	protected override int BuildHash()
	{
		return HashCode.Combine( GetConnectedPlayers(), GetCountdown() );
	}

	private static double GetCountdown()
	{
		if ( PlatesGame.CurrentState is WaitingState state )
		{
			return Math.Clamp( Math.Ceiling( state.StartRoundTime ), 1, 100 );
		}
		return 0;
	}

	private static int GetConnectedPlayers()
	{
		if ( PlatesGame.CurrentState is WaitingState state )
		{
			return state.ReadyPlayers;
		}
		return -1;
	}

}
